@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-image: url('https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    font-weight: bold;
    font-size: 3rem;
    margin-top: 5rem;
}
.container-countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.countdown-el {
   text-align: center;
    
}
.countdown-el span{
    
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
  
}